<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Academia_Beterraba::hello"
            title="Academia"
            translate="title"
            module="Academia_Beterraba"
            parent="Magento_Backend::content"
            sortOrder="50"
            dependsOnModule="Academia_Beterraba"
            resource="Academia_Beterraba::hello"
        />
        <add
            id="Academia_Beterraba::hi_devs"
            title="Magento"
            translate="title"
            module="Academia_Beterraba"
            parent="Academia_Beterraba::hello"
            sortOrder="10"
            dependsOnModule="Academia_Beterraba"
            action="academiaback/hidevs"
            resource="Academia_Beterraba::hello"
        />
    </menu>
</config>